.container{
    margin-left:5%;
}
.first{
    display: block;

}
.sary{
    width: 30%;
}
.contact{
    width: ;
}
.title{
    color: blueviolet;
    margin-left:10% ;
    margin-bottom: 0cm;
}
.centre{
    margin-left: 30PX;
}
.gras{
    font-weight: bold;
}
hr{
    margin: 0;
}