body{ 
	font-family: calibri, sans-serif;
	font-size: medium;
	height: 29.7cm;
	width: 21cm;
	border: solid 2px black;
}
header{
	height: 10%;
	color: #454444;
	text-align: center;
}
h1{
	border-bottom: dashed 3px gray;
	display: block;
	width: 35%;
	margin-left: 30%;
	padding-top: 5%;
}
h2{ 
	font-family: cambria, sans-serif;
	color: rgb(31,73,125);
	font-size: x-large;
	width: 90%;
	border-bottom: solid 2px rgb(31,73,125);
	padding-bottom: 2%;
}
a{
	text-decoration: none;
	color: rgb(31,73,125);
}
#gauche{
	float:left;
	height: 90%;
	width: 30%;
	padding-left: 3%;
}
#droite{
	float: right;
	height: 80%;
	width: 60%;
	border-left: solid 1px black;
	padding-left: 3%;
}
#fio{
	width: 60%;
	-webkit-transition: width 1s ease;
	-o-transition: width 1s ease;
	-moz-transition: width 1s ease;
	transition: width 1s ease;
}
#nom{
	font-weight: bold;
	font-size: large;  
	font-family: "Arial Rounded MT Bold", sans-serif;
}
.date{
	font-weight: bold;
}
.diplome{
	font-color: red;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	opacity: 0.6;
	display: inline-block;
	padding-left: 20%;
}
.ecole{
	font-style: italic;
}
#fio:hover{
	width:80%;
}
a:hover{
	background-color: gray;
}