#para1
{
    color:rgb(255 133 133);
    margin-left:25%;
}
#nom
{
    margin-left:1%;
}
#div2
{
    float:right;
}
#photo
{
    float:left;
}
h2
{
    color:rgb(255 133 133);
}
img
{
    width: 100px;    
}