#nom
{
    background-color:#12127a;
    color:white;
    padding-left:15%;
}
#div3
{
    float:right;
    width:70%;
    margin-top:-3%;
}
#div2,#div1
{
    width:30%;
}
h1
{
    color:#1111a1;
}
img
{
    width: 100px;
}